<!DOCTYPE html>
<html>
<head>
  <title>Welcome to AllMyPhotos</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script type="text/javascript">
    window.inspireMe = {
      inspireMeSix: "<%= image_url("https://s3.amazonaws.com/allofmyphotos-pro/photos/images/000/000/inspire-me-six.jpeg") %>",
      inspireMeOne: "<%= image_url("https://s3.amazonaws.com/allofmyphotos-pro/photos/images/000/000/inspire-me-one.jpeg") %>",
      inspireMeTwo: "<%= image_url("https://s3.amazonaws.com/allofmyphotos-pro/photos/images/000/000/inspire-me-two.jpeg") %>",
      inspireMeFour: "<%= image_url("https://s3.amazonaws.com/allofmyphotos-pro/photos/images/000/000/inspire-me-four.jpg") %>",
      inspireMeSeven: "<%= image_url("https://s3.amazonaws.com/allofmyphotos-pro/photos/images/000/000/inspire-me-seven.jpeg") %>",
      inspireMeEight: "<%= image_url("https://s3.amazonaws.com/allofmyphotos-pro/photos/images/000/000/inspire-me-eight.jpeg") %>",
      userShowOne: "<%= image_url("https://s3.amazonaws.com/allofmyphotos-pro/photos/images/000/000/user-show-background-min.jpeg") %>"
    }

    window.cameraRoll = { cameraRoll: "<%= image_url("camera-roll.jpg") %>" }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
