<!DOCTYPE html>
<html>
<head>
  <title>Welcome to AllMyPhotos</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.inspireMe = {
      inspireMeThree: "<%= image_url("inspire-me-three.jpeg") %>",
      inspireMeSix: "<%= image_url("inspire-me-six.jpeg") %>",
      inspireMeOne: "<%= image_url("inspire-me-one.jpeg") %>",
      inspireMeTwo: "<%= image_url("inspire-me-two.jpeg") %>",
      inspireMeFour: "<%= image_url("inspire-me-four.jpg") %>",
      inspireMeSeven: "<%= image_url("inspire-me-seven.jpeg") %>",
      inspireMeFive: "<%= image_url("inspire-me-five.jpeg") %>",
      inspireMeEight: "<%= image_url("inspire-me-eight.jpeg") %>",
      userShowOne: "<%= image_url("user-show-background.jpeg") %>"
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
